:root {
    --grid: repeat(16, 40px);
    
}

.container {
    width: 640px;
    height: 640px;
    margin: auto;
    display: grid;
    grid-template-columns: var(--grid);
    grid-template-rows: var(--grid);
    border: 2px solid red;
    grid-gap: 0px;
    margin-top: 3em;
    
}

button {
    display: block;
    margin: auto;
    margin-top: 5em;
}

h1 {
    text-align: center;
}